<a href="https://colab.research.google.com/github/loredana2314/DAT540_Project/blob/main/Clustering_load_profiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project: Clustering load profiles
Group name: CTRL+ALT+Delete

# 1.Importing and cleaning data

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inlinee

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive/')

In [ ]:
#Importing the dataset, parsing datetime 
df_measurements = pd.read_csv("/content/daily_electricity_usage.csv",parse_dates=['date'], dtype={'Meter ID': object}, index_col='date')
df_measurements.info()
df_measurements.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3291258 entries, 2009-07-14 to 2010-10-17
Data columns (total 2 columns):
 #   Column          Dtype
---  ------          -----
 0   Meter ID        object
 1   total daily KW  float64
dtypes: float64(1), object(1)
memory usage: 75.3+ MB

           Meter ID  total daily KW
date
2009-07-14     1000          11.203
2009-07-15     1000           8.403
2009-07-16     1000           7.225
2009-07-17     1000          11.338
2009-07-18     1000          11.306

In [ ]:
#pivoting table to see each meter ID per date
df_days = df_measurements.pivot_table(index = 'date', columns='Meter ID')
df_days.head()

           total daily KW                 ...
Meter ID             1000   1001    1002  ...    7442    7443    7444
date                                      ...
2009-07-14         11.203  6.744   6.355  ...  36.813   5.112  52.940
2009-07-15          8.403  6.949   8.972  ...  40.492  18.233  35.582
2009-07-16          7.225  7.255   8.794  ...  41.487   6.925  29.307
2009-07-17         11.338  7.190   8.306  ...  43.986   5.370  40.986
2009-07-18         11.306  6.805  10.119  ...  41.018   6.751  40.270

[5 rows x 6435 columns]

In [ ]:
#Replace NAN with daily average 
df_days = df_days.fillna(df_days.mean())
df_days.head()

           total daily KW                 ...
Meter ID             1000   1001    1002  ...    7442    7443    7444
date                                      ...
2009-07-14         11.203  6.744   6.355  ...  36.813   5.112  52.940
2009-07-15          8.403  6.949   8.972  ...  40.492  18.233  35.582
2009-07-16          7.225  7.255   8.794  ...  41.487   6.925  29.307
2009-07-17         11.338  7.190   8.306  ...  43.986   5.370  40.986
2009-07-18         11.306  6.805  10.119  ...  41.018   6.751  40.270

[5 rows x 6435 columns]

# 2.Segment the data for each meter-ID

In [ ]:
#unsure about this. Thomas
#probably make a new DF from scratch ?!?

#df_meters=df_days[0:].agg(['sum','mean']).T.rename(columns={'mean':'total','total KW':'average KW'})
#df_meters.head()

                           sum      total
total daily KW 1000   5515.675  10.290438
               1001   5090.375   9.496968
               1002   5352.830   9.986623
               1003  16305.581  30.420860
               1004  25326.442  47.250825

# 3.Clustering

# 4.Justify clustering

# 5.Illustrate the difference among clusters

# 6.Use ML-Algorithm to predict the total dayily consumption for each cluster in the last 80 days of data

# 7.Evaluate results of the prediction model using different measures such as RMSE and MAPE.